/**
* Google Fonts
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
/**
* Variable
*/
/**
* Global
*/
* {
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
a {
  color: #444444;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
a:hover {
  text-decoration: none;
  color: #8046eb;
}
a:focus {
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
}
.title {
  font-size: 2.33em;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 1.3;
}
.sub-title {
  font-size: 1.13em;
  font-weight: 100;
  line-height: 1.4;
  margin-bottom: 35px;
}
.container {
  width: 96%;
  padding: 0;
}
.main-content {
  background: #8046eb;
  /* Old browsers */
  background: -moz-linear-gradient(left, #8046eb 0%, #8046eb 50%, #e3e4f8 50%, #e3e4f8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #8046eb 0%, #8046eb 50%, #e3e4f8 50%, #e3e4f8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #8046eb 0%, #8046eb 50%, #e3e4f8 50%, #e3e4f8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8046eb', endColorstr='#e3e4f8', GradientType=1);
  /* IE6-9 */
}
#main {
  position: relative;
  overflow: hidden;
}
/**
* Header
*/
.tx-header {
  margin: 20px 0;
}
.tx-header .logo {
  display: table;
  margin: 0 auto;
}
.tx-header .logo img {
  max-width: 200px;
}
.tx-header .main-menu {
  display: table;
  float: right;
  font-size: 1em;
  margin-top: -28px;
}
.tx-header .main-menu a {
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.tx-header .main-menu a.donate {
  background: #9BCB5C;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 3px;
  box-shadow: 0 0 2px #B3B3B3;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.tx-header .main-menu a.donate:hover {
  box-shadow: none;
}
/**
* WP
*/
.wp-img-dis,
.img-placehold {
  padding: 50px;
}
.wp-img-dis {
  background: #8046eb;
  color: #ffffff;
}
.wp-img-dis .input-group {
  max-width: 550px;
  margin: 50px auto 0;
}
.wp-img-dis .form-control {
  color: #8046eb;
  font-weight: 700;
  border-radius: 0;
  box-shadow: none;
  padding: 20px 10px;
  border: 0;
}
.wp-img-dis .btn.btn-primary.btn-file {
  padding: 10px 25px;
  border: 0;
  background: #9BCB5C;
  border-radius: 0;
}
.wp-img-dis .btn-file {
  position: relative;
  overflow: hidden;
}
.wp-img-dis .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.wp-img-dis input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
/**
* Placehold
*/
.img-placehold {
  background: #E3E4F8;
}
.img-placehold .nav-tabs {
  border: 0;
  margin-bottom: 20px;
}
.img-placehold .nav > li > a {
  font-weight: 600;
  padding: 10px 35px;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.img-placehold .nav > li > a:focus,
.img-placehold .nav > li > a:hover {
  background-color: #8046eb;
  color: #ffffff;
}
.img-placehold .nav-tabs > li.active > a,
.img-placehold .nav-tabs > li.active > a:focus,
.img-placehold .nav-tabs > li.active > a:hover {
  color: #ffffff;
  background-color: #8046eb;
  border: 0;
}
.img-placehold .example {
  margin-top: 30px;
  border: 1px dashed #8046eb;
  padding: 20px;
  font-size: 1.06em;
  font-weight: 700;
  line-height: 1;
}
.img-placehold .example .bg-ex {
  background-color: #8046eb;
  color: #ffffff;
  padding: 5px;
}
/**
* About
*/
.about {
  background: #8046eb;
  color: #ffffff;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translate(0, -80vh);
  -moz-transform: translate(0, -80vh);
  -ms-transform: translate(0, -80vh);
  -o-transform: translate(0, -80vh);
  transform: translate(0, -80vh);
}
.about h1,
.about h2,
.about h3,
.about h4 {
  margin: 0 0 20px;
}
.about p {
  margin-bottom: 25px;
}
.about.slide-down {
  height: 100%;
  -webkit-transform: translate(0, 0vh);
  -moz-transform: translate(0, 0vh);
  -ms-transform: translate(0, 0vh);
  -o-transform: translate(0, 0vh);
  transform: translate(0, 0vh);
}
.overlay-content {
  padding: 5% 25%;
}
.overlay-content a{ color: #fff; border-bottom: 1px dashed #fff; }
.close-btn .closebtn {
  color: #fff;
  font-size: 2em;
  text-align: center;
  width: 40px;
  height: 40px;
  display: block;
  float: right;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
/**
* Footer
*/
footer {
  padding: 10px 0;
  font-size: .8em;
}
footer .glyphicon-heart {
  color: #D32F2F;
  top: 3px;
}
footer a {
  color: #8046eb;
}
/**
* Responsive
*/
@media (min-width: 1500px) {
  .container,
  .overlay {
    width: 85% !important;
  }
  .title {
    font-size: 3.2em;
  }
  .sub-title {
    font-size: 1.6em;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .img-placehold .example {
    font-size: .8em;
  }
}
@media (max-width: 992px) {
  .tx-header .logo {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .img-placehold .example {
    font-size: .9em;
  }
}
@media (max-width: 500px) {
  .wp-img-dis,
  .img-placehold {
    padding: 50px 20px;
  }
  .tx-header {
    height: auto;
  }
  .tx-header .logo {
    max-width: 40%;
    float: left;
  }
  .tx-header .logo img {
    max-width: 100%;
  }
  .tx-header .main-menu {
    margin-top: 0;
  }
  .tx-header .main-menu a.donate {
    padding: 5px 10px;
  }
  .title {
    font-size: 2em;
  }
  .img-placehold .nav > li > a {
    padding: 6px 20px;
  }
  .img-placehold .example .bg-ex {
    display: block;
  }
}

.image-uploader--dropzone {
    border: 3px dashed #eee;
    width: 100%;
    height: 315px;
}

.image-uploader--dropzone h2 {
    color: #fff;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.image-uploader--dropzone span {
    font-size: 16px;
    color: #ccc;
}

.loading.fa {
    font-size: 150px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
}

.download-section {
    text-align: center;
    margin-top: 50px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 18px;
    font-size: 18px;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
}

.clipboard {
    margin-top: 80px;
}

.faker-ads img {
    width: 100%;
    height: 320px;
    margin-top: 81px;
}

.progress {
    margin-top: 150px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #009688;
}